<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de tallas - ELIXIRANDFLEXX</title>
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/estilos_tallas.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-bar__logo">ELIXIRANDFLEXX</div>
            <ul class="nav-bar__links">
                <li><a href="interfazGrafica.html" class="nav-bar__link">Inicio</a></li>
                <li><a href="interfazCatalogo.html" class="nav-bar__link">Catalogo</a></li>
                <li><a href="interfazGuiaTallas.html" class="nav-bar__link nav-bar__link--active">Guia de tallas</a></li>
                <li><a href="#" class="nav-bar__link">Pedidos</a></li>
            </ul>
            <div class="nav-bar__icons">
                <i class="bx bx-search nav-bar__icon"></i>
                <a href="interfazPerfil.html" style="color: inherit; text-decoration: none;">
                    <i class="bx bx-user nav-bar__icon"></i>
                </a>
                <a href="interfazCarrito.html" style="color:inherit;"><i class="bx bx-shopping-bag nav-bar__icon"></i></a>
            </div>
        </nav>
    </header>

    <main class="contenedor-tallas">
        
        <section class="fila-talla">
            <div class="bloque-imagen">
                <img src="../public/images/hoddieTallas.jpg" alt="Medidas Hoodies">
            </div>
            <div class="bloque-info">
                <h2>HOODIES</h2>
                <p>Todos los hoodies son en corte boxy (osea vienen mas cortos pero mas anchos) aconsejamos normalmente pedir una talla mas a la que pide el cliente con normalidad.</p>
                <p>Si, se puede decir que viene algo reducida, hay casos en los que hay que pedir hasta dos tallas mas.</p>
                <a href="#" class="btn-talla-vista">VER HOODIES</a>
            </div>
        </section>

        <section class="fila-talla fila-invertida">
            <div class="bloque-info">
                <h2>SUDADERAS</h2>
                <p>Corte de las sudaderas es un corte normal, nacional, lo manejamos por tallas desde la s hasta la xl. manejamos bota ancha porque a quien le gusta andar apretado.</p>
                <a href="#" class="btn-talla-vista">VER SUDADERAS</a>
            </div>
            <div class="bloque-imagen">
                <img src="../public/images/pantalonesTallas.webp" alt="Medidas Sudaderas">
            </div>
        </section>

        <section class="fila-talla">
            <div class="bloque-imagen">
                <img src="../public/images/camisasTallas.webp" alt="Medidas Camisas">
            </div>
            <div class="bloque-info">
                <span class="subtitulo-talla">GUIA DE TALLAS</span>
                <h2>CAMISAS</h2>
                <p>El corte de las camisas en un corte oversize donde como se muestra en la imagen, tenemos una caida en los hombros y unas mangas mas largas con respecto a las normales para darle ese toque mas under.</p>
                <a href="#" class="btn-talla-vista">VER CAMISAS</a>
            </div>
        </section>

        <section class="fila-talla fila-invertida">
            <div class="bloque-info">
                <h2>PANTALONETAS</h2>
                <p>Igual que las sudaderas, un corte tallaje normal con pantaloneta que llega hasta la rodilla y no te hace sentir apretado, un toque mas fresco y un estilo mas under.</p>
                <a href="#" class="btn-talla-vista">VER PANTALONETAS</a>
            </div>
            <div class="bloque-imagen">
                <img src="../public/images/pantalonetasTallas.webp" alt="Medidas Pantalonetas">
            </div>
        </section>

    </main>
</body>
</html>