<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido - Elixir and Flexx</title>
    <link rel="stylesheet" href="/frontend/public/css/global.css">
    <link rel="stylesheet" href="/frontend/public/css/estilos_elixir.css">
</head>
<body>
    <div class="auth-wrapper">
        <div class="auth-card">
            <div id="loginMessage" class="auth-message"></div>
            <h1 class="auth-card__title">BIENVENIDO AL SISTEMA</h1>
            <p class="auth-card__subtitle">INICIA SESION PARA ACCEDER AL CARRITO Y AL SISTEMA</p>
            
            <form id="formLogin" action="/UsuarioController" method="POST">
    
                <input type="hidden" name="accion" value="login">

                <div class="input-group">
                    <label>Correo Electrónico</label>
                    <input type="email" name="email" required>
                </div>

                <div class="input-group">
                    <label>Contraseña</label>
                    <input type="password" name="password" required>
                </div>

                <button type="submit" class="btn-urban">Entrar</button>
            </form>
            
            <div class="auth-card__divider">
                <hr> <span>o</span> <hr>
            </div>
            
            <div class="auth-card__footer">
                <p>¿NO TIENES CUENTA? <a href="/frontend/views/registro.html" class="auth-card__redirect">REGISTRATE</a></p>
            </div>
        </div>
    </div>

    <div id="modalRecuperar" class="auth-modal">
        <div class="auth-modal__content">
            <span class="auth-modal__close" id="btnCloseModal">&times;</span>
            <h2 class="auth-modal__title">¿Recuperar Contraseña?</h2>
            <p class="auth-modal__text">Elixir and Flexx le enviara un enlace de recuperacion a su correo</p>

            <form class="auth-form" id="formRecuperacion">
                <input type="email" class="auth-form__input auth-form__input--modal" placeholder="INGRESE SU EMAIL" name="emailRecuperar" required>
                <button type="submit" class="btn btn--olive">ENVIAR ENLACE</button>
            </form>
        </div>
    </div>

    <script src="/frontend/public/js/views/login.js" type="module"></script>
</body>
</html>